body {
    background-color: #303030;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.card {
  width: 550px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: #141414db 20px 10px 55px;
  padding-bottom: 20px;
  margin-top: 15px;
}

.card #header-image {
  margin: 0;
  height: 200px;
  overflow: hidden;
}

.card #header-image img {
  width: 100%;
}

.card h1,
h2 {
  color: #42c9bb;
  text-align: center;
  line-height: 0.5em;
  font-weight: lighter;
}

.card h1 {
    font-weight: 500;
}

.card h2 {
    font-size: 1.2em;
}

.card h3 {
  line-height: 0.5em;
  font-weight: lighter;
  margin-top: 30px;
}

.card #avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: solid 2px #f5f5f5;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card #avatar img {
  width: 100%;
}

.card #personal-info {
  padding: 0 10px;
}

.card #personal-info p .about {
  text-align: center;
}

.card #personal-info #skills {
  margin-top: 30px;
}

.card #personal-info table {
  margin: 0 auto;
}

.card #personal-info table .progress {
  padding: 0 10px;
}

.card #personal-info .experience {
  display: block;
  margin-bottom: 25px;
}

.card #personal-info .experience h4 {
  color: #42c9bb;
  margin:0.5em 0;
}

.card #personal-info .experience h4 span {
  font-size: 10px;
  font-weight: lighter;
}

.card #personal-info .experience p {
  font-size: 15px;
  padding-left: 5px;
  margin: 0
}

.card #contact {
  padding: 0 10px;
}

.card #contact #contact-menu {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.card #contact-menu a {
  background: #0c0c0c;
  color:#42c9bb;
  text-decoration: none;
  padding: 10px;
  border-radius: 9%;
}

.copy {
  text-align: center;
  margin: 20px 0;
}